body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgb(154, 32, 25), rgb(227, 175, 26));
}

#firstRow,
#secondRow,
#thirdRow,
#fourthRow,
#fifthRow {
    display: flex;
}

#secondRow div,
#thirdRow div,
#fourthRow div,
#fifthRow div {
    margin: 1px;
}

.button {
    display: flex;
    width: 70px;
    height: 60px;
    border: solid 1px black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: blanchedalmond;

}

#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#dot {
    background-color: #7D8288;
}

.operator {
    background-color: #E36E00;
}

#firstRow div {
    width: 142px;
    margin: 1px;
    background-color: #626262;
}

@font-face {
    font-family: calcFont;
    src: url(Digital\ Dismay.otf);

}

#display {
    display: flex;
    height: 120px;
    width: 286px;
    border: 1px solid black;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;
    margin-bottom: 1px;
    border-radius: 4px;
    background-color: #515151;
    color: blanchedalmond;
    font-size: 60px;
    font-family: calcFont;
    padding: 15px;
}